@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --bg-color: Black;
    --txt-color: white;
    --font-size: 24px;
    --font-size2: 28px;

}

body {
    background-color: var(--bg-color);
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.first_title_componet {
    max-width: 100%;
    height: 165px;
    margin-top: 124px;
}
#Softwer_titel {
    border: 3px dashed rgba(232, 107, 49, 1);
    font-family: Bricolage Grotesque;
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0px;
    max-width: 30%;
    position: relative;
    left: 35%;
    right: 35%;
    top: -148px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
@media (max-width: 1024px) {
    #Softwer_titel {
        max-width: 374px;
        font-size: 25px;
        top: -123px;
    }
}
@media (max-width: 768px) {
    .first_title_componet {
        max-width: 100%;
        height: 0px;
        margin-top: 215px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .first_title_componet img {
        display: none;
    }
    #Softwer_titel {
        min-width: min-content;
        font-size: 25px;
        top: 0%;
        left: 0%;
        right: 0%;
        padding: 20px;
    }
    .card1-title-social-media-cart{
        font-size: 21px;
    }
}
@media (max-width:430px) {
    #Softwer_titel {
        max-width: 60%;
        font-size: 20px;
    }
}
@media (max-width:375px) {

    #Softwer_titel {
        max-width: 100%;
        font-size: 24px;
        position: relative;
        left: 133px;
    }
}
