.project-page-title {
    font-family: Bricolage Grotesque;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.project-title-text {
    font-family: Bricolage Grotesque;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 205px;
    padding-left: 50px;
}

.navbar_tabs {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Align tabs to the start */
    background-color: black;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent wrapping */
    padding: 75px 0; /* Add some padding */
}

.tab {
    flex: 0 0 auto; /* Prevent flex-grow and allow fixed width */
    text-align: center;
    padding: 14px 16px;
    color: #989696; /* Default color */
    cursor: pointer;
    text-decoration: none;
    min-width: 100px; /* Minimum width for responsiveness */
    transition: color 0.3s; /* Smooth color transition */
}

.tab.active {
    background-image: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    border-radius: 30px;
    color: white; /* Active tab color */
}

.tab:hover {
    color: white; /* Hover color */
}
.navbar_tabs::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

.navbar_tabs::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}
@media (max-width: 1024px) {
    .project-page-title {
        margin-top: 100px;
    }

    .project-title-text {
        text-align: center;
        padding: 0%;
        margin-top: 100px;
    }
}

@media (max-width: 560px) {
    .project-title-text {
        font-family: Bricolage Grotesque;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}